.edit-php.post-type-pmpro_sitewide_sale .wrap:before,
.post-php.post-type-pmpro_sitewide_sale .wrap:before,
.post-new-php.post-type-pmpro_sitewide_sale .wrap:before {
	background-image: url( '../../images/Paid-Memberships-Pro.png' );
	background-size: contain;
	background-repeat: no-repeat;
	content: '';
	display: block;
	height: 75px;
}
.post-type-pmpro_sitewide_sale textarea {
	line-height: 1.4;
	resize: vertical;
	width: 88%;
	padding: 1rem;
	min-height: 4rem;
}
#pmpro_sws_options > table:nth-child(6) > tbody > tr > td > span {
	width: 88%;
}
#pmpro_sws_cpt_publish_sitewide_sale .inside {
	margin: 0;
	padding: 0;
}

#pmpro_sws_cpt_publish_sitewide_sale .misc-pub-section {
	padding: 0 12px;
}

.pmpro_sws_banner_css_selectors {
	background: aliceblue;
	padding: 1rem;
	width: 77%;
}

/* Custom Box for PMPro 1.10 Welcome Experience */
body.post-type-pmpro_sitewide_sale .pmpro-new-install {
    padding: 2rem;
    text-align: center;
}
body.post-type-pmpro_sitewide_sale .pmpro-new-install h2 {
    color: #AAA;
    font-size: 2rem;
}
body.post-type-pmpro_sitewide_sale .pmpro-new-install h2:before {
    display: block;
    font: 400 5rem/1.5 dashicons;
}
body.post-type-pmpro_sitewide_sale .pmpro-new-install h2:before {
    content: "\f323";
}
body.post-type-pmpro_sitewide_sale .pmpro-new-install .button-primary,
body.post-type-pmpro_sitewide_sale .pmpro-new-install .button {
    font-size: 1.2em;
    height: auto;
    margin-bottom: .5rem;
    padding: .75em 1.5em;
}

/* Sitewide Sale Reports Styles */
.pmpro_sws_reports-box {
	background: #FFF;
	border: 1px solid #CCC;
	margin: 2rem 0;
	padding: 2rem;
	text-align: center;
}
.post-type-pmpro_sitewide_sale .pmpro_sws_reports-box {
	border: none;
	margin: 0;
	padding: 1rem 0 0 0;
}
.pmpro_sws_reports-box h1.pmpro_sws_reports-box-title {
	color: #999;
	font-family: Georgia, Times, "Times New Roman", serif;
	margin: 0;
	padding: 0;
}
.pmpro_admin .pmpro_sws_reports-box hr {
	margin: 2rem 0;
}
.pmpro_sws_reports-data {
	display: grid;
	grid-gap: 1rem;
}
.pmpro_sws_reports-data-3col {
	grid-template-columns: 1fr 1fr 1fr;
}
.pmpro_sws_reports-data-4col {
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.pmpro_sws_reports-data-section {
}
.pmpro_sws_reports-data-section h1 {
	font-size: 30px;
	line-height: 40px;
	margin: 0;
}
@media screen and (max-width: 768px) {
	.pmpro_sws_reports-box {
		margin: 0 1rem;
		padding: 1rem;
	}
	.pmpro_sws_reports-box hr {
		margin: .5rem 0;
	}
	.pmpro_sws_reports-data {
		display: block;
	}
	.pmpro_sws_reports-data-section h1,
	.pmpro_sws_reports-data-section p {
		display: inline-block;
		font-size: 18px;
	}
	.pmpro_sws_reports-data-section br {
		display: none;
	}
	.pmpro_sws_reports-data-section h1:after {
		content: ": ";
	}
}

@media screen and (max-width: 782px) {
    body.post-type-pmpro_sitewide_sale .pmpro-new-install { padding: 0; }
    body.post-type-pmpro_sitewide_sale .pmpro-new-install h2 { font-size: 1.4rem; }

    body.post-type-pmpro_sitewide_sale .pmpro-new-install .button-primary,
	body.post-type-pmpro_sitewide_sale .pmpro-new-install .button { display: block; }
}
