#pmpro_sws_banner_top {
	width: 100%;
	background: rgba(240,248,255,1);
	text-align: center;
	padding: 1rem;
}
#pmpro_sws_banner_top span {
	margin-right: 2rem;
	font-size: 2rem;
}
#pmpro_sws_banner_top h3 {
	display: inline;
}
.pmpro_sws_banner h3 {
	margin: 0 0 10px 0;
	padding: 0;
}
.pmpro_sws_banner p {
	margin: 0 0 10px 0;
	padding: 0;
}
#pmpro_sws_banner_bottom_right {
	background: rgba(240,248,255,1);
	bottom: 0;
	box-shadow: 0 2px 20px 0 rgba(0,0,0,.2);
	padding: 20px;
	position: fixed;
	right: 0;
	max-width: 300px;
	z-index: 400;
}
#pmpro_sws_banner_bottom_right .pmpro_btn {
	display: block;
}

#pmpro_sws_banner_bottom_right a.dismiss,
#pmpro_sws_banner_bottom_right a.dismiss:active,
#pmpro_sws_banner_bottom_right a.dismiss:link,
#pmpro_sws_banner_bottom_right a.dismiss:visited {
	background: rgba( 255, 255, 255, 0.2);
	border: 1px solid #FFF;
	border-radius: 3px;
	color: #FFF;
    float: right;
	font-size: 14px;
	line-height: 20px;
    padding: 0 5px;
	text-decoration: none;
}
#pmpro_sws_banner_bottom_right a.dismiss:hover {
	background: rgba( 255, 255, 255, 0.4);
}

#pmpro_sws_banner_bottom {
	background: rgba(215, 215, 215, .95);
	bottom: 0;
	box-shadow: 0 2px 20px 0 rgba(0,0,0,.2);
	left: 0;
	padding: 20px 0;
	position: fixed;
	right: 0;
	width: 100%;
	z-index: 400;
}
#pmpro_sws_banner_bottom .pmpro_sws_banner-inner {
	margin: 0 auto;
	max-width: 1170px;
}
#pmpro_sws_banner_bottom .pmpro_sws_banner-inner-left {
	display: inline-block;
	padding-right: 5%;
	width: 70%;
}
#pmpro_sws_banner_bottom .pmpro_sws_banner-inner-right {
	display: inline-block;
	width: 25%;
}
#pmpro_sws_banner_bottom .pmpro_sws_banner-inner-right .pmpro_btn {
	display: block;
}

.pmpro_sitewide_sale_landing_page_template {
}
.pmpro_sitewide_sale_landing_page_template #pmpro_form {
    margin: 0 auto;
    max-width: 1170px;
}
.pmpro_sitewide_sale_landing_page_template .pmpro_sitewide_sale_landing_page_template-background-image {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;    
}
.pmpro_sitewide_sale_landing_page_template .pmpro_sws_landing_content .sws-features {
    display: grid;
    font-size: 1.8rem;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    line-height: 2.9rem;
    margin: 0 auto;
    max-width: 1170px;
    text-align: center;
}
.pmpro_sitewide_sale_landing_page_template .pmpro_sws_landing_content .sws-features p {
    margin: 0 0 1.45rem 0;
    padding: 0;
}
.pmpro_sitewide_sale_landing_page_template form#pmpro_form .pmpro_checkout h3 {
	margin: 0;
    padding: 1.45rem;
}
.pmpro_sitewide_sale_landing_page_template form#pmpro_form .pmpro_checkout h3 span.pmpro_checkout-h3-name {
    margin: 0;
}
.pmpro_sitewide_sale_landing_page_template form#pmpro_form .pmpro_checkout .pmpro_checkout-fields {
	margin: 0;
    padding: 1.45rem;
}

/* Gradient Theme */
body.pmpro-sitewide-sale-landing-page-gradient {
    background: repeating-linear-gradient(
        -45deg, 
        #272727, #272727 10px, 
        #373737 0, #373737 20px
    );
    padding: 0 0 5.8rem 0;
}
#pmpro_sitewide_sale_landing_page_template-gradient {
    margin: 0;
}
#pmpro_sitewide_sale_landing_page_template-gradient h1,
#pmpro_sitewide_sale_landing_page_template-gradient h2 {
    color: #FFF;
}
#pmpro_sitewide_sale_landing_page_template-gradient #pmpro_form {
    max-width: 750px;
}
#pmpro_sitewide_sale_landing_page_template-gradient .pmpro_sws_landing_content {
    background: linear-gradient(270deg, #4bcf93, #4b79cf, #a24bcf);
    background-size: 600% 600%;
    box-shadow: 0px 10px 40px #000;
    color: #FFF;
    padding: 5.8rem 5.8rem 11.6rem 5.8rem;
    text-align: center;
    -webkit-animation: SWSGradient 30s ease infinite;
    -moz-animation: SWSGradient 30s ease infinite;
    animation: SWSGradient 30s ease infinite;
}
@-webkit-keyframes SWSGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes SWSGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes SWSGradient { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
#pmpro_sitewide_sale_landing_page_template-gradient .pmpro_sws_landing_content .fa,
#pmpro_sitewide_sale_landing_page_template-gradient .pmpro_sws_landing_content .fab,
#pmpro_sitewide_sale_landing_page_template-gradient .pmpro_sws_landing_content .fas {
    font-size: 20rem;
}
body.pmpro-sitewide-sale-landing-page-gradient #pmpro_form {
    background-color: #FFF;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px rgba( 0, 0, 0, 0.2 );
    margin-top: -8.7rem;
    padding: 2.9rem;
}

/* Neon Theme */
body.pmpro-sitewide-sale-landing-page-neon {
	background: #000 url(../../images/darkness.png) repeat;
    padding: 5.8rem 0;
}
#pmpro_sitewide_sale_landing_page_template-neon {
    margin: 0;
}
#pmpro_sitewide_sale_landing_page_template-neon .pmpro_sws_landing_content_pre-sale,
#pmpro_sitewide_sale_landing_page_template-neon .pmpro_sws_landing_content_post-sale {
    color: #FFF;
    margin: 5.8rem;
    text-align: center;
}
#pmpro_sitewide_sale_landing_page_template-neon .pmpro_sws_landing_content {
	color: #FFF;
    text-align: center;
}
#pmpro_sitewide_sale_landing_page_template-neon .pmpro_sws_landing_content h1 {
    color: #FFF;
	font-weight: 700;
	margin-top: 0;
}
#pmpro_sitewide_sale_landing_page_template-neon .pmpro_sws_landing_content h2 {
	animation-name: SWSNeon;
    animation-duration: 4s;
    animation-direction: alternate-reverse;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	color: #55f47e;
	font-size: 60px;
	font-style: italic;
    font-weight: 900;
	line-height: 75px;
    letter-spacing: -2px;
	margin: 0;
    padding: 0;
	text-shadow: 0px 0px 15px #BBB;
}
#pmpro_sitewide_sale_landing_page_template-neon .pmpro_sws_landing_content h3 {
	animation-name: SWSNeon2;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	color: #f084e7;
	font-size: 40px;
	font-style: italic;
    font-weight: 900;
    letter-spacing: -2px;
	margin: 0 0 1em 0;
    padding: 0;
	text-shadow: 0px 0px 15px #BBB;
}
@keyframes SWSNeon {
	0%{opacity: 1;}
	2%{opacity: 0;}
	4%{opacity: 1;}
	80%{opacity: 1;}
	82%{opacity: 0;}
	84%{opacity: 1;}
	100%{opacity: 1;}
}
@keyframes SWSNeon2 {
	0%{opacity: 1;}
	5%{opacity: 0;}
	10%{opacity: 1;}
	15%{opacity: 0;}
	20%{opacity: 1;}
	90%{opacity: 1;}
	95%{opacity: 0;}
	100%{opacity: 1;}
}
#pmpro_sitewide_sale_landing_page_template-neon #pmpro_form {
    max-width: 800px;
}
#pmpro_sitewide_sale_landing_page_template-neon #pmpro_form hr {
	display: none;
}
#pmpro_sitewide_sale_landing_page_template-neon form#pmpro_form .pmpro_checkout {
	background: #FFF;
	margin: 2rem 0;
}
#pmpro_sitewide_sale_landing_page_template-neon form#pmpro_form .pmpro_checkout h3 {
	background: #0EBFE9;
	border: none;
    color: #FFF;
}
#pmpro_sitewide_sale_landing_page_template-neon form#pmpro_form .pmpro_checkout h3 span.pmpro_checkout-h3-msg a {
    color: #FFF;
}
#pmpro_sitewide_sale_landing_page_template-neon form#pmpro_form .pmpro_checkout .pmpro_sslseal {
	text-align: center;
}

/* Ocean Theme */
body.pmpro-sitewide-sale-landing-page-ocean {
	background: #4ab1ad;
    padding: 0 0 5.8rem 0;
}
#pmpro_sitewide_sale_landing_page_template-ocean {
    margin: 0;
}
#pmpro_sitewide_sale_landing_page_template-ocean .pmpro_sws_landing_content {
    background-color: #f67656;
    background-image: url(../../images/waves.png);
    background-repeat: repeat-x;
    background-position: bottom left;
    background-size: 100px 100px;
    color: #FFF;
    padding: 5.8rem 0 110px 0;
    text-align: center;
}
#pmpro_sitewide_sale_landing_page_template-ocean .pmpro_sws_landing_content h1 {
    color: #FFF;
    font-family: 'Brush Script MT', cursive;
    font-size: 120px;
    font-weight: 400;
    margin: 1.45rem 0 2.9rem 0;
    padding: 0;
}
#pmpro_sitewide_sale_landing_page_template-ocean .pmpro_sws_landing_content h2 {
    color: #FFF;
    margin:  0;
}
#pmpro_sitewide_sale_landing_page_template-ocean #pmpro_form {
    max-width: 650px;
}
#pmpro_sitewide_sale_landing_page_template-ocean form#pmpro_form .pmpro_checkout {
    margin: 0 0 2.9rem 0;
}
#pmpro_sitewide_sale_landing_page_template-ocean form#pmpro_form .pmpro_checkout-fields {
    background-color: #FFF;
}
#pmpro_sitewide_sale_landing_page_template-ocean form#pmpro_form hr {
    display: none;
}
#pmpro_sitewide_sale_landing_page_template-ocean form#pmpro_form .pmpro_checkout h3 {
    background: rgba( 255, 255, 255, 0.5);
	border: none;
	margin: 0;
}
#pmpro_sitewide_sale_landing_page_template-ocean form#pmpro_form .pmpro_checkout .pmpro_sslseal {
	text-align: center;
}
#pmpro_sitewide_sale_landing_page_template-ocean form#pmpro_form .pmpro_submit {
    background: rgba( 255, 255, 255, 0.5);
    padding: 2.9rem 2.9rem 1rem 2.9rem;
    text-align: center;
}
#pmpro_sitewide_sale_landing_page_template-ocean form#pmpro_form #pmpro_processing_message {
    margin: 0;
    text-align: center;
}

/* Photo Theme */
body.pmpro-sitewide-sale-landing-page-photo {
	background: #FAFAFA;
    padding: 0 0 5.8rem 0;
}
#pmpro_sitewide_sale_landing_page_template-photo {
    margin: 0;
}
#pmpro_sitewide_sale_landing_page_template-photo .pmpro_sitewide_sale_landing_page_template-background-image {
    padding-top: 2.9rem;
}
#pmpro_sitewide_sale_landing_page_template-photo .pmpro_sws_landing_content {
    background: rgba( 0, 0, 0, 0.5 );
    border-radius: 40px;
    color: rgba( 255, 255, 255, 0.9);
    margin: 0 auto;
    max-width: 1170px;
    padding: 2.9rem 0;
    text-align: center;
    text-shadow: 0px 0px 5px #000;
    transition: background 1s ease;
}
#pmpro_sitewide_sale_landing_page_template-photo .pmpro_sws_landing_content:hover {
    background: rgba( 0, 0, 0, 0.8 );
}
#pmpro_sitewide_sale_landing_page_template-photo .pmpro_sws_landing_content h1 {
    border-bottom: 1px solid #333;
    color: #FFF;
    display: inline-block;
    font-size: 4.8rem;
    font-weight: 900;
    line-height: 7.5rem;
    margin: 0 0 2.9rem 0;
    padding: .9rem;
}
#pmpro_sitewide_sale_landing_page_template-photo .pmpro_sws_landing_content h2 {
    color: #FFF;
    margin:  0;
}
#pmpro_sitewide_sale_landing_page_template-photo #pmpro_form {
    margin-top: 5.8rem;
    max-width: 750px;
}
#pmpro_sitewide_sale_landing_page_template-photo #pmpro_form hr {
	display: none;
}
#pmpro_sitewide_sale_landing_page_template-photo #pmpro_form .pmpro_checkout {
    background: #FAFAFA;
    padding: 1.45rem;
}

/* Scroll Theme */
body.pmpro-sitewide-sale-landing-page-scroll {
	background: #E4E3DF;
    padding: 0 0 5.8rem 0;
}
#pmpro_sitewide_sale_landing_page_template-scroll {
	margin-top: 0;
}
#pmpro_sitewide_sale_landing_page_template-scroll .pmpro_sws_landing_content {
    overflow: hidden;
    padding: 2.9rem 0 10rem 0;
    text-align: center;
}
#pmpro_sitewide_sale_landing_page_template-scroll .sws-banner {
    background: rgba( 255, 255, 255, 0.4 );
    margin: 0 auto;
    max-width: 800px;
    padding:  2.9rem;
}
#pmpro_sitewide_sale_landing_page_template-scroll .pmpro_sws_landing_content h1 {
    animation: SWSScroll 1s;
    font-weight: normal;
    margin: 0 0 2.9rem 0;
}
#pmpro_sitewide_sale_landing_page_template-scroll .pmpro_sws_landing_content h3 {
    animation: SWSFadeIn 3s;
    font-weight: normal;
    margin: 0;
}
@keyframes SWSScroll {
    from {
        margin-left: 100%;
        width: 300%; 
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}
@keyframes SWSFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#pmpro_sitewide_sale_landing_page_template-scroll #pmpro_form {
    max-width: 800px;
}
#pmpro_sitewide_sale_landing_page_template-scroll #pmpro_form hr {
	display: none;
}
#pmpro_sitewide_sale_landing_page_template-scroll #pmpro_form .pmpro_checkout {
    background: #FFF;
    border: 1px solid #CCC;
    margin-bottom: 2.9rem;
    padding: 2.9rem;
}
#pmpro_sitewide_sale_landing_page_template-scroll #pmpro_form .pmpro_checkout h3 {
    background: none;
    border: none;
    margin: 0 0 1.45rem 0;
    padding: 0;
}
#pmpro_sitewide_sale_landing_page_template-scroll #pmpro_form .pmpro_checkout h3 span.pmpro_checkout-h3-name {
    letter-spacing: 1px;
    text-transform: uppercase;
}
#pmpro_sitewide_sale_landing_page_template-scroll #pmpro_form .pmpro_checkout .pmpro_checkout-fields {
    padding:  0;
}

